
<div class=" ">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-1">
        <div class="col" *ngFor="let ListDetalleMovie of ListProductCompanies">
          <div class="card shadow-sm">
        
            <img [src]="ListDetalleMovie.image" alt="">

            <div class="card-body">
            <h5 class="card-title">{{ListDetalleMovie.name}}</h5>
              <p class="card-text">
                {{ListDetalleMovie.origin.name}}
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-primary"  [routerLink] = "['/listar_peliculas']" >Atras</button>
                  
                </div>
                <small class="text-muted">Genero: {{ListDetalleMovie.gender}} Status: {{ListDetalleMovie.status}}</small>
              </div>
            </div>
            <div class="card-footer">
              <span class="episodios" *ngFor="let episode of ListDetalleMovie.episode;  let j = index">                  
                <a [href]="episode" target="_blank" >{{j}}</a></span>
              </div>

          </div>
        </div>
        

        
      </div>
    </div>
  </div>


